# Gramine manifest for story-kernel (Ubuntu 24.04)

[loader]
log_level = "error"
argv = ["story-kernel", "start", "--home", "/opt/story-kernel"]

[loader.entrypoint]
uri = "file:{{ gramine.libos }}"

[loader.env]
LD_LIBRARY_PATH = "/lib:/lib/x86_64-linux-gnu:/usr/lib/x86_64-linux-gnu"
HOME = "/opt/story-kernel"
PATH = "/usr/bin:/bin"
GOMEMLIMIT = "3GiB"

[libos]
entrypoint = "/story-kernel"

[sys]
insecure__allow_eventfd = true
stack.size = "2M"

[[fs.mounts]]
path = "/lib"
uri = "file:{{ gramine.runtimedir() }}"

[[fs.mounts]]
path = "/lib/x86_64-linux-gnu"
uri = "file:/lib/x86_64-linux-gnu"

[[fs.mounts]]
path = "/usr/lib/x86_64-linux-gnu"
uri = "file:/usr/lib/x86_64-linux-gnu"

[[fs.mounts]]
path = "/etc"
uri = "file:/etc"

[[fs.mounts]]
path = "/story-kernel"
uri = "file:./build/story-kernel"

[[fs.mounts]]
path = "/opt/story-kernel"
uri = "file:/opt/story-kernel"

[[fs.mounts]]
path = "/tmp"
type = "tmpfs"

[sgx]
debug = false
enclave_size = "4G"
max_threads = 32
remote_attestation = "dcap"

trusted_files = [
    "file:{{ gramine.libos }}",
    "file:{{ gramine.runtimedir() }}/",
    "file:./build/story-kernel",
]

allowed_files = [
    "file:/etc/hosts",
    "file:/etc/resolv.conf",
    "file:/etc/ssl/certs/",
    "file:/opt/story-kernel/",
    "file:/lib/x86_64-linux-gnu/",
    "file:/usr/lib/x86_64-linux-gnu/",
]
